body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: url('kitamybeloved.gif') no-repeat center center fixed;
    background-size: cover;
}

#content {
    position: relative;
    z-index: 1;
}

header {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 1em;
    text-align: center;
}

section {
    max-width: 800px;
    margin: 2em auto;
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 1em;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
